<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><i class="bi bi-cloud"></i><a class="link-secondary text-decoration-none" 
            href="https://mywebdev-resume.com" target="#"> Resume Website</a></li>
          <li class="mb-1"><i class="bi bi-github"></i><a class="link-secondary text-decoration-none" 
            href="https://github.com/kvncampos/" target="#"> Github Repo</a></li>
          <li class="mb-1"><i class="bi bi-linkedin"></i><a class="link-secondary text-decoration-none" 
            href="https://www.linkedin.com/in/kevin-campos-mba-ccnp/" target="#" > LinkedIn</a></li>
        </ul>
      </div>
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">Campos, Kevin © 2024</small>
      </div>
    </div>
</footer>